.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.vb-icon {
    position: absolute;
    top: 10px !important;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}