@font-face {
  font-family: 'Roboto-Mono', Courier, monospace;
  src: url('./fontes/RobotoMono-Thin.ttf');
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: linear-gradient(to right, rgb(50,50,50), rgb(200, 200, 200))
}
